doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/createRecord.css")
    title Document
  body
    header
      a(href="index.html")
        img#logo(src="/images/logo.jpeg", alt="logo")
      .header-auth Nombre Medico
    .content
      .catalog-background
        .column-left
          form(action="/newrecord" method="post")
            label(for="lastname") Buscar Paciente
            input#lastname(type="text", name="lastname", onkeydown="refreshSearchBar()")
            br
            br
            label(for="clinichistory") Historia Clinica
            input#clinichistory(type="text", name="clinichistory")
            br
            br
            label(for="images") Anexo Imagenes
            input#images(type="file", name="images")
            br
            br
            label(for="observations") Observaciones
            input#observations(type="text", name="observations" placeholder="Opcional")
            br
            br
            input(type="submit", value="Submit")
        .column-right
          #container-data
          .button-create
            a(id="submitrecord" onclick="submitData()") Guardar
            a#cancelrecord(href="/cancelrecord") Cancelar
script.
    let oldValue;
    let dataContainer = document.getElementById('container-data');
    let selectedPatient;

    function selectPatient(id, name){
    	console.log(name);
    	selectedPatient = name;
    	let patientBar = document.getElementById('lastname');
    	patientBar.value = name;
    }

    function displayPatientList(currentPatientList){
    	dataContainer.innerHTML = "";
    	for(let i = 0; i < currentPatientList.length; i++){
    		let patient = currentPatientList[i];
    		dataContainer.innerHTML += `
            <div class="container-patient">
                <div class="patient-data">
                    <div class="patient-name">${patient.firstName}</div>
                    <div class = "patient-id">${patient.id}</div>
                </div>
                <div class="add-patient" onclick="selectPatient(${patient.id},'${patient.firstName}')">Seleccionar</div>
            </div>
    		`;
    		
    	}
    }
	
    function refreshSearchBar() {
    	let currentPatientList;
        let newValue = document.getElementById('lastname').value;
        if (oldValue !== newValue) {
            oldValue = newValue;
            console.log(newValue);
            let firstChar = newValue.charAt(0);
            
            // Determine search type
            let searchType = isNaN(parseInt(firstChar)) ? 1 : 0;
            
            // Construct query parameters
            const params = new URLSearchParams({
                text: newValue,
                searchType: searchType
            });
    
            fetch(`/searchPatient?${params}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then((response) => response.json())
            .then((data) => {console.log('Success:', data); currentPatientList = data; displayPatientList(currentPatientList);})
            .catch((error) => console.error('ERROR:', error));
        }
        
    }
    
    function submitData(){
          let formData = {
          	lastname : document.getElementById("lastname").value,
          	firstname : document.getElementById("firstname").value,
          	clinichistory: document.getElementById("clinichistory").value,
          	images : document.getElementById("images").value,
          	observations : document.getElementById("observations").value
          }
          console.log(formData);
          fetch('/newrecord',{
          	method : 'POST',
          	headers:{
          		'Content-Type': 'application/json',
          	},
          	body : JSON.stringify(formData),
          }).then((response) => response.json()).then((data) => console.log('Success:',data)).catch((error) => console.error('ERROR:', error));
          
    }
	
